body.manage-user .form-group,body.manage-medical-profile .form-group,body.process-scheduling-request-first .form-group {margin-bottom: 25px;}
.searchResultsContainer{margin-top:2px;}
.hidden-print{ margin-top:0px !important;}

body .success-text { font-family: "montserratsemibold", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal; font-size: 15px; text-align: center; margin-top: 25px; margin-bottom: 25px; padding: 0px; line-height: 1.6; }

body .modal .error {color: red; }

.no-padding {padding: 0 0 0 0; }
.text-success {color: #3c763d !important; font-size: 14px !important;}
.text-danger {margin-top: 5px; font-size: 12px;}
.server-error {font-size: 14px  !important;}
.pointer-cursor {cursor:pointer;}
#errorSpan{font-size: 20px}

.jconfirm-box-container.col-md-4{
    width:33%;
}
.jconfirm-box-container.col-md-offset-4{
    margin-left:33%;
}

input[type="checkbox"][disabled],input[type="checkbox"][readonly] {
    background-color: #eeeeee;
    opacity: 1;
}

.input-group-addon.disabled{
    background-color: #eeeeee !important;
    cursor: not-allowed !important;
}
input.hide-picker{
    border-right: 1px solid #C5CFD9 !important;
}
.input-group-addon img {
    width: 20px;
    height: 19px;
}
.glyphicon-calendar, .glyphicon-time{
    display: none;
    opacity: 0;
}

#header-main-contents .header_search_donors input[type=text], #header-main-contents .header_search_donors input[type=search] {
    background: none !important;
    padding-left: 0px !important;
}

body.search-donor-results .results, body.donor-status .results, body.donor-cancellations .results,
body.payments .results {
    background: none !important;
}

.react-bs-table-container .react-bs-table-tool-bar input {
    background: none !important;
    padding-left: 5px !important;
    min-width: 10px !important;
}

body.search-donor label {
    font-family: "montserratregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tab-pil.disable{
    cursor: not-allowed;
}
.tab-pil.disable:hover {
     border: 1px solid #D7D9E0;
}
.tab-pil.disable .step  {
       background: #D7D9E0;
}
.tab-pil.disable:hover .step {
     background: #D7D9E0; 
}

@media only screen and (min-width: 1190px){
    body.edit-donor .work-orders .form-group input[type=text], body.edit-donor .work-orders .form-group input[type=search], body.edit-donor .work-orders .form-group input[type=email], body.edit-donor .work-orders .form-group select {
        width: 80%;
    }
    body.edit-donor .work-orders .form-group .full {
        width: 100% !important;
    }
}

body.edit-donor .panel .panel-body .tab-content .donor-form label {
    white-space: nowrap !important;
}

body.edit-donor .showmore {
    text-transform: uppercase;
    color: #414767;
    font-size: 12px;
    cursor: pointer;
    padding: 15px 15px 0px 15px;
    text-decoration: underline;
}

.col-sm-4{ width:16.66666666%}

.table .input-group-addon { padding: 0px 3px !important;}

.select2-container--disabled .select2-selection__rendered, .disabled button{
    background-color: #eeeeee !important;
    cursor: not-allowed !important;
}
.has-error .select2 .select2-selection__rendered, .has-error .select2 .select2-selection--multiple {
    border-color: rgba(231, 76, 60, 0.88) !important;
}

.process-scheduling-request .img-center{
    overflow: visible;
}

.showUnProcessRequest{
    margin-left: 5px;
    font-size: 12px;
    font-style: normal;
    font-family: "montserratlight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.showUnProcessRequest span{padding-left:10px;}
.showUnProcessRequest input[type=checkbox]
{
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.modal-body .table-responsive {height: auto!important;overflow: visible;}